#define ATARI
#define POSIX
#define _GNU_SOURCE
#define __MINT__
#define USE_SUPERVIDEL
#define USE_SV_BLITTER
#define USE_MOVE16
#define DISABLE_LAUNCHERDISPLAY_GRID
#define DISABLE_SID
#define DISABLE_NES_APU
#define DISABLE_TEXT_CONSOLE

#define HAVE_CONFIG_H
#define SYSTEM_NOT_SUPPORTING_D_TYPE
#define _ISOC11_SOURCE
